<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="IT-кампания Prod - широконаправленная
    кампания по разработке и улучшению веб-приложений и их модулей."/>
    <meta name="keywords" content="программа, программу, сайт, веб-приложение,
    разработка, разработку, разработать, купить, заказать, услуга, услугу, 
    оптимизация, оптимизировать, модуль, быстро, дёшево"/>
    <title>IT-Компания Prod</title>
    <%-include("templates/linkscript.html")%>
</head>
<body>
    <%-include("templates/header.html")%>

    <div id="carouselExampleControls" data-interval="false" class="carousel slide c-bg-color h-80vh" data-ride="carousel">
        <div class="carousel-inner h-100">
            <div class="carousel-item mt-n2 active h-100 align-items-center justify-content-center align-self-center" style="background: url('/img/modules_img/back1.jpg');">
                <div class="w-100 h-100 d-flex align-items-center justify-content-center align-self-center" style="background: rgba(12, 12, 12, 0.904)">
                    <div class="h-30vh rounded col-md-7 col-12 p-5 c-bg-color align-items-center justify-content-center align-self-center">
                        <h1 class="text-white text-weight-light text-wrap display-4 pb-5">IT-Компания_PROD.<span class="function-color">get_info</span>()</h1>
                        <p class="text-white code-style">index_block.<span class="argument-color">innerHTML</span>=<span class="string-color">"Фирма занимающаяся вашим кодом. Мы готовы создать нечто совершенное только, чтобы удовлетворить ваши желания."</span>;</p>
                    </div>
                </div>
            </div>

            <div class="carousel-item mt-n2 h-100 align-items-center justify-content-center align-self-center" style="background: url('/img/modules_img/back2.jpg');">
                <div class="w-100 h-100 d-flex align-items-center justify-content-center align-self-center" style="background: rgba(12, 12, 12, 0.712)">
                    <div class="mh-80vh scroll rounded col-md-7 col-12 p-5  c-bg-color align-items-center justify-content-center align-self-center">
                        <h1 class="terminal-color text-center display-4 pt-3 pb-5">&lt;!--Оптимизация--&gt;</h1>
                        <p class="text-white code-style">
                            <span class="argument-color">IT-Компания_PROD</span>.<span class="function-color">optimise</span>({<br>
                                <span class="argument-color">content</span>: <b>Оптимизация Кода</b>,<br>
                                <span class="argument-color">description</span>: Различные методы преобразования<br>
                                кода ради улучшения его характеристик и повышения эффективности.<br>
                                Среди целей оптимизации можно указать уменьшения объема кода,<br>
                                объема используемой программой оперативной памяти, ускорение работы программы,<br>
                                уменьшение количества операций ввода-вывода.<br>
                            }).<span class="function-color">afterThisDo</span>:<br>
                            
                            <span class="function-color">Replace</span>({</p>
                                <h2 class="mark">Соблюдение валидации кода</h1>
                            <p class="text-white code-style">}).<span class="function-color">inCase</span>(<span class="string-color">"h2>after>h1"</span>);</p><br>
                        <button class="btn btn-dark" onclick="location.href='/offers'">Заказать</button>
                    </div>
                </div>
            </div>

            <div class="carousel-item mt-n2 h-100 align-items-center justify-content-center align-self-center" style="background: url('https://c.pxhere.com/photos/20/e5/programming_computer_environment_syntax_highlight_program_computing_display_hacker-1172040.jpg') no-repeat; background-size: cover;">
                <div class="w-100 h-100 d-flex align-items-center justify-content-center align-self-center" style="background: rgba(12, 12, 12, 0.89)">
                    <div class="mh-80vh scroll rounded col-md-7 col-12 p-5 c-bg-color align-items-center justify-content-center align-self-center">
                        <h1 class="terminal-color text-center pt-4 pb-5 display-4">//Разработка</h1>
                        <p class="text-white code-style terminal-color"><span class="php-color">&lt;?php</span><br>
                            <span class="function-color">function development</span>(<span class="argument-color">$program</span>)<br>
                            {<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;<span>echo</span> <span class="string-color">"Ваша программа уже готова"</span>;<br>
                            };<br>
                            <br>
                            <span class="argument-color">$name</span> = <span class="string-color">"Название вашей программы"</span>;<br>
                            <span class="argument-color">$desc</span> = <span class="string-color">"Описание"</span>;<br>
                            <span class="argument-color">$parameters</span> = <span class="function-color">array<span>(<span class="argument-color">$Параметры</span>);<br>
                            <br>
                            <span class="argument-color">$program</span> = <span class="function-color">Создать_программу_быстро_и_легко</span>(<span class="argument-color">$name</span>, <span class="argument-color">$desc</span>, <span class="argument-color">$parameters</span>);<br>
                            <span class="function-color">development</span>(<span class="argument-color">$program</span>);<br><span class="php-color">?&gt;</span>
                        </p>
                        <button class="btn btn-dark" onclick="location.href='/offers'">Заказать</button>
                    </div>
                </div>
            </div>

            <div class="carousel-item  h-100 align-items-center justify-content-center align-self-center" style="background: url('img/modules_img/back4.jpg') no-repeat; background-size: cover;">
                <div class="w-100 h-100 d-flex align-items-center justify-content-center align-self-center" style="background: rgba(12, 12, 12, 0.712)">
                    <div class="mh-80vh scroll rounded col-md-7 col-12 p-5 c-bg-color align-items-center justify-content-center align-self-center">
                        <h1 class="terminal-color text-center display-4 pt-3 pb-5">/*Prod+*/</h1>
                        <p class="text-white code-style"><span class="js-color">public class IT-Компания_PROD</span>()
                        {
                            <span>constructor</span>(p,r,o,d)
                            {
                                <span class="js-color">var</span> p > programm_type = Равна вашему пожеланию;
                                <span class="js-color">var</span> r > re:size = Вы можете указать какое количество страниц желаете видеть в своём приложении;
                                <span class="js-color">var</span> o > other_modules =  При заказе вы можете указать - использовать ли дополнительные инструменты для разработки;
                                <span class="js-color">var</span> d > description = Вы можете полностью расписать вашу программу или положиться на нащих специалистов;
                            }
                        }<span class="terminal-color">/*Работа будет выполнена в кратчайшие сроки и по разумной цене. Нам очень важно качество производимого нами ПО, 
                            потому можете не сомневаться в его работоспособности*/</span></p>
                        <button class="btn btn-dark" onclick="location.href='/offers'">Заказать</button>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
    </div>

    <section class="h-100vh c-bg-color3" id="whyUs">
        <div class="container pt-5">
            <div class=" p-5 mt-5 rounded">
            <h1 class="code-style"><span class="bg-light"><span class="sql-color">SELECT</span> <span class="sql-color2">*</span> <span class="sql-color">AS</span> <span class="sql-color2">'Почему_выбирают_нас'</span></span></h1>
            <p class="code-style pb-5"><span class="bg-light"><span class="sql-color">FROM</span> Наша_фирма <span class="sql-color">AS</span> firm <br><span class="text-secondary">inner join</span> Наши_клиенты AS clients<br>
            <span class="sql-color">ON</span> firm.id=client.id<br>
            <span class="sql-color">WHERE</span> firm.review <span class="text-secondary">like</span> <span class="sql-color2">'Действительность'</span></span></p>
 
            <table class="table mt-5  bg-light">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Причина</th>
                        <th scope="col">Описание</th>
                    </tr>
                 </thead>

                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Скорость</td>
                        <td>Мы выполняем работу любой сложность в краткие сроки.</td>
                    </tr>

                    <tr>
                        <th scope="row">2</th>
                        <td>Качество</td>
                        <td>Наши программные продукты соответствуют всем ГОСТ-ам программного обеспечения</td>
                    </tr>

                    <tr>
                        <th scope="row">3</th>
                        <td>Ценовая политика</td>
                        <td>Мы предлагаем качество и скорость по низкой стоимости.</td>
                    </tr>

                    <tr>
                        <th scope="row">4</th>
                        <td>Такова ваша судьба</td>
                        <td>???</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="h-90vh c-bg-color2" id="pl">
        <div class="container-fluid row h-100 align-items-center justify-content-center">
            <div class="col align-items-center justify-content-center">
                <div class="col-12"><h1 class="text-center border-bottom text-white display-4 p-5 text-wrap"><span class="js-color">&lt;script&gt;</span><span class="argument-color">prod</span>.<span class="js-color">get</span>(<span class="string-color">"Программная_сфера"</span>).<span class="js-class-color">as_Array</span><span class="js-color">&lt;/script&gt;</span></h1></div>
                    <div class="col-12 row pt-5 align-items-center justify-content-center">
                        <%pl.forEach(element =>{%>
                            <div class="pl-opacity col-lg-2 col-12 my-5 row align-items-center justify-content-center"  >
                                <img src="<%=element.pl_img%>" alt="<%element.pl_name%>" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="bottom" title="<%=element.pl_name%>" data-content="<%=element.pl_info%>">
                            </div>
                        <%})%>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="height: 80vh;">
        <div class=" h-100 c-bg-color2">
            <iframe class=" h-100 w-100" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9011.099003371135!2d37.7154222!3d55.623335!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6b6f846b99aedaf9!2z0JzQvtGB0LrQvtCy0YHQutC40Lkg0LrQvtC70LvQtdC00LYg0YPQv9GA0LDQstC70LXQvdC40Y8sINCz0L7RgdGC0LjQvdC40YfQvdC-0LPQviDQsdC40LfQvdC10YHQsCDQuCDQuNC90YTQvtGA0LzQsNGG0LjQvtC90L3Ri9GFINGC0LXRhdC90L7Qu9C-0LPQuNC5ICLQptCw0YDQuNGG0YvQvdC-Ig!5e0!3m2!1sru!2sru!4v1606670727600!5m2!1sru!2sru" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </section>
    <%-include("templates/footer.html")%>
</body>
</html>